{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://bank.lightapi.net/api"
    }
  ],
  "info": {
    "contact": {
      "name": "Steve Hu",
      "url": "www.networknt.com/example/openbanking/",
      "email": "stevehu@gmail.com"
    },
    "version": "v1_0_0",
    "description": "Based on open banking project API",
    "title": "API URI: /accounts/{account_id}/transactions"
  },
  "paths": {
    "/accounts/{account_id}/transactions": {
      "get": {
        "tags": [
          "3_0_0"
        ],
        "summary": "Get Transactions for Account",
        "description": "Returns transactions list of the account specified by account_id.",
        "operationId": "getTransactions",
        "security": [
          {
            "bank_auth": [
              "transactions.r"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "The account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "id": "5995d6a2-01b3-423c-a173-5481df49bdaf",
                        "this_account": [
                          {
                            "id": "String",
                            "bank_routing": {
                              "scheme": "Bank_ID",
                              "address": "gh.29.uk"
                            },
                            "account_routing": {
                              "scheme": "IBAN",
                              "address": "DE89 3704 0044 0532 0130 00"
                            },
                            "holders": [
                              {
                                "name": "OBP",
                                "is_alias": true
                              }
                            ]
                          }
                        ],
                        "other_account": {
                          "id": "5995d6a2-01b3-423c-a173-5481df49bdaf",
                          "holder": {
                            "name": "OBP",
                            "is_alias": true
                          },
                          "bank_routing": {
                            "scheme": "Bank_ID",
                            "address": "gh.29.uk"
                          },
                          "account_routing": {
                            "scheme": "IBAN",
                            "address": "DE89 3704 0044 0532 0130 00"
                          }
                        },
                        "details": {
                          "type": "AC",
                          "description": "OBP",
                          "posted": "2013-01-22T00:08:00.000Z",
                          "completed": "2013-01-22T00:08:00.000Z",
                          "new_balance": {
                            "currency": "EUR",
                            "amount": 10
                          },
                          "value": {
                            "currency": "EUR",
                            "amount": 10
                          },
                          "spend_category": "shopping",
                          "issued_latitude": 43.65622,
                          "issued_longitude": -79.383291
                        },
                        "issuing_merchant": {
                          "id": 1,
                          "name": "merchant"
                        },
                        "exec_dttm": "2017-07-21T17:32:28.000Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bank_auth": {
        "type": "oauth2",
        "description": "This API uses OAuth 2.0 with the client credential grant flow.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://localhost:6882/token",
            "scopes": {
              "transactions.r": "read information about transaction"
            }
          }
        }
      }
    },
    "schemas": {
      "ThisAccount": {
        "required": [
          "id",
          "bank_routing",
          "account_routing",
          "holders"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "bank_routing": {
            "$ref": "#/components/schemas/Routing"
          },
          "account_routing": {
            "$ref": "#/components/schemas/Routing"
          },
          "holders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Holder"
            }
          }
        }
      },
      "Merchant": {
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "OtherAccount": {
        "required": [
          "id",
          "bank_routing",
          "account_routing",
          "holder"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "bank_routing": {
            "$ref": "#/components/schemas/Routing"
          },
          "account_routing": {
            "$ref": "#/components/schemas/Routing"
          },
          "holder": {
            "$ref": "#/components/schemas/Holder"
          }
        }
      },
      "Details": {
        "required": [
          "type",
          "description",
          "posted",
          "completed",
          "new_balance",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "posted": {
            "type": "string"
          },
          "completed": {
            "type": "string"
          },
          "new_balance": {
            "$ref": "#/components/schemas/Amount"
          },
          "value": {
            "$ref": "#/components/schemas/Amount"
          },
          "spend_category": {
            "type": "string",
            "enum": [
              "shopping",
              "travel",
              "food",
              "other"
            ]
          },
          "issued_latitude": {
            "type": "number",
            "format": "float"
          },
          "issued_longitude": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "Amount": {
        "required": [
          "currency",
          "amount"
        ],
        "properties": {
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          }
        }
      },
      "Holder": {
        "required": [
          "name",
          "is_alias"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "is_alias": {
            "type": "boolean"
          }
        }
      },
      "Routing": {
        "required": [
          "scheme",
          "address"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "scheme": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "required": [
          "id",
          "this_account",
          "other_account",
          "details",
          "issuing_merchant",
          "exec_dttm"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "this_account": {
            "$ref": "#/components/schemas/ThisAccount"
          },
          "other_account": {
            "$ref": "#/components/schemas/OtherAccount"
          },
          "details": {
            "$ref": "#/components/schemas/Details"
          },
          "issuing_merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "exec_dttm": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}